body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.camera-box,
.info-box,
.recent-box {
  background: white;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.flex {
  display: flex;
  gap: 20px;
}

video {
  width: 100%;
  border-radius: 8px;
  background: black;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-right: 10px;
}

.start-btn {
  background: #1a73e8;
  color: white;
}
.stop-btn {
  background: #d9534f;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

table th {
  background: #e9e9e9;
}
